{{#data}}
<tr class="odd gradeX">
    <td class="nsw-text-center">{{inc @index}}</td>
    <td>{{fiTenLoai}}</td>
    <td>{{fiSoVb}}</td>
    <td class="nsw-text-center">{{convertToDateFromTimeStamp fiNgayCap false}}</td>
    <td>{{fiDvCap}}</td>    
    <td>
        <a href="javascript:;" id="btn{{fiIdDinhkem}}" class="btn icon-btn blue custom-icon-btn btn-badge-hh" data="{{fiIdDinhkem}}">                                
            <div> {{_lang "most_01_gcn_chon"}} </div>
            <span class="badge badge-success" id="badge-{{fiIdDinhkem}}">{{countProduct fiIdDinhkem}}</span>
        </a>
    </td>
    <td><a href="{{buildDownloadFileUrl fiGuiId}}">{{fiTenTep}}</a></td>
    <td class="nsw-text-center" style="display: {{IsView}}">
        <a><i class="fa fa-lg fa-remove tooltips" data-placement="top" 
              data-original-title="{{getCommandName 'most_01_gcn_command_xoa'}}" data-container="body" item="{{fiIdDinhkem}}" code="{{fiSoVb}}"></i></a>
    </td>
</tr>
{{/data}}