{{#data}}
<form role="form" class="form-horizontal" name="delayForm01" id="delayForm01">
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-4">
                <label>{{_lang "common_msg_thoi_han_cu_de_hoan_thien"}}</label>
            </div>
            <div class="col-md-8">
                {{ convertToDateFromTimeStamp fiThoihan false}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-4">
                <label>{{_lang "common_msg_thoi_han_moi_de_hoan_thien"}}<a class="nsw-require-field">*</a></label>
            </div>
            <div class="col-md-8">
                <input class="form-control form-control-inline input-medium date-picker" data-date-format="dd/mm/yyyy" require="true" style="width: 150px;" name="fiTime" field="common_msg_thoi_han_moi_de_hoan_thien" type="text">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-4">
                <label>{{_lang "common_msg_ly_do_xin_lui_han"}} <a class="nsw-require-field">*</a></label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" require="true" name="fiContent" field="common_msg_ly_do_xin_lui_han" style="width: 100%; height: 170px;" maxlength="2000"></textarea>
            </div>
        </div>
    </div>   
</form>
{{/data}}