<label>{{_lang "moh_typea_danhsachcosobaohanh_thongbao" }}</label>
<form id="load-baohanh">
    <table class="table table-striped table-bordered table-hover table-checkable order-column">
        <thead>
            <tr>
                <th class="text-center"> {{_lang "stt"}}</th>
                <th class="text-center"> {{_lang "moh_typea_mst_co_so_bao_hanh"}}</th>
                <th class="text-center"> {{_lang "moh_typea_co_so_bao_hanh"}}</th>
                <th class="text-center"> {{_lang "moh_typea_co_so_bao_hanh_diachi"}} </th>
                <th class="text-center"> {{_lang "most_01_nopphi_dien_thoai"}}</th>
                <th class="text-center"> {{_lang "moh_typea_didong"}}</th>
                <th class="text-center action"> {{_lang "moh_typea_hanhdong"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#data}}
            <tr id = "{{inc @index}}">
                <td>{{inc @index}}</td>
                <td style="display: none" class="fiBaohanhId">{{fiBaohanhId}}</td>
                <td class="fiMstCsbh">
                    {{fiMstCsbh}}
                </td>
                <td class="fiTencoso">
                    {{fiTencoso}}
                </td>
                <td class="fiDiachics">
                    {{fiDiachics}}
                </td>
                <td class="fiDienthoai">
                    {{fiDienthoai}}
                </td>
                <td class="fiDidong">
                    {{fiDidong}}
                </td>
                <td>
                    <input type="checkbox" value="{{inc @index}}" name="indexBh">
                </td>
            </tr>
        </tbody>
        {{/data}}
    </table>
</form>