<form class="form-bo-sung-to-khai-popup" id="form-bo-sung-to-khai-popup">
    <div class="row" >
        <div class="form-group">
            <label class="col-md-2"><b>{{ _lang "mard.18.TbdHoSo18.fiDeclarationNo"}}:</b></label>
            <div class="col-md-10">
                <textarea class="form-control" require="false" name="declarationNo" field="common_msg_ly_do" style="width: 100%; height: 80px;" maxlength="250"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2" style="margin-top: 30px;"><b>{{ _lang "mard.18.TbdHoSo18.fiBillNo"}}:</b></label>
            <div class="col-md-10">
                <textarea class="form-control" require="false" name="billNo" field="common_msg_ly_do" style="margin-top: 30px;width: 100%; height: 80px;" maxlength="250"></textarea>
            </div>
        </div>
    </div>
</form>
