{{#data}}
<tr class="odd gradeX">
    <td class="nsw-text-center"> 
        {{inc @index}}
    </td>
    <td>
        {{safeString fiTenHh}}
    </td>
    <td>
        {{showLoaiDoiTuong fiMaLoaiHh}}
    </td>
      <td>
        {{safeString fiSoTk}}
    </td>
    <td>
        {{safeString fiMaHs}}
    </td>
    <td>
        {{safeString fiNhanHh}}
    </td>
    <td>
        {{safeString fiKyhieu}}
    </td>
    <td>
        {{safeString fiThongsoKt}}
    </td>
    <td>
        {{safeString fiTenQg}}
    </td>
    <td>
        {{safeString fiTenNsx}}
    </td>
    <td class="nsw-text-right">
        {{fiKlSl}}
    </td>
    <td>
        {{safeString fiTenDv}}
    </td>
    <td>
        {{safeString fiTenCuakhau}}
    </td>
    <td>
        {{convertToDateFromTimeStamp fiNkTu false}} - {{convertToDateFromTimeStamp fiNkDen false}}
    </td>
    <td style="display: {{IsView}}">
        <a><i class="fa fa-lg fa-edit tooltips" data-placement="top" 
              data-original-title="{{getCommandName 'most_01_hanghoa_command_sua'}}" data-container="body" item="{{fiIdHh}}"></i></a>
    </td>
    <td style="display: {{IsView}}">
        <a><i class="fa fa-lg fa-remove tooltips" data-placement="top" 
              data-original-title="{{getCommandName 'most_01_hanghoa_command_xoa'}}" data-container="body" item="{{fiIdHh}}" code="{{fiTenHh}}"></i></a>
    </td>
</tr>
{{/data}}