    
<div class="row">
    <div class="col col-md-4">{{_lang "most_02_thongbaokiemtra_thoigiankiemtra"}}:</div>
    <div class="col col-md-8">{{convertToDateFromTimeStamp data.fiKtTuNgay false}} - {{convertToDateFromTimeStamp data.fiKtDenNgay false}}</div>
</div>
<br>
<br>
<div class="row">
    <div class="col col-md-4">{{_lang "most_02_thongbaokiemtra_diadiemkt"}}:</div>
    <div class="col col-md-8">{{data.fiDiadiemKt}}</div>
</div>
<br>
<br>
<div class="row">
    <div class="col col-md-4">{{_lang "most_02_thongbaokiemtra_phuongthuckt"}}:</div>
    <div class="col col-md-8">{{data.fiNoidung}}</div>
</div>
