<style>
    .form-group {
        margin-bottom: 7px;
    }
</style>
<form  id="popup-form" class="row">
    <div class="col-md-12" >
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="col-md-2 text-right" ><span data-bind="i18n: {  html: { key: 'nycXSGP'}}"></span>:<span class="nsw-require-field">*</span></label>
                <div class="col-md-10">
                    <input disabled class="form-control" data-bind="value:  moment(tbdYeuCauSuaGP04.fiNgayYeuCau()).format('DD/MM/YYYY HH:mm')">
                </div>
            </div>
            <div class="col-md-12 form-group">
                <label class="col-md-2 text-right" ><span data-bind="i18n: {  html: { key: 'lyDo'}}"></span>:<span class="nsw-require-field">*</span></label>
                <div class="col-md-10">
                    <textarea id="fiNoiDung" class="form-control" rows="3" data-bind="value: tbdYeuCauSuaGP04.fiNoiDung"></textarea>
                </div>
            </div>
            <div class="col-md-12 form-group" >
                <div class="form-group">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column" >
                            <thead>
                            <tr class="nsw-tr tr-nsw1-bgcolor">
                                <th class="text-center" data-bind="i18n: { 'html': 'TbdDinhKem04.fiId' }"></th>
                                <th class="text-center" data-bind="i18n: { 'html': 'TbdDinhKem04.fiFileName' }"></th>
                                <th class="text-center" data-bind="i18n: { 'html': 'TbdDinhKem04.fiFileCode' }"></th>
                                <th class="text-center" data-bind="i18n: { 'html': 'TbdDinhKem04.fiFileByte' }"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- ko foreach: $root.danhMucTepDuocChon() -->
                            <tr >
                                <td class="text-center"><span data-bind="text: $index() + 1"></span></td>
                                <td><span data-bind="text: tenTep"></span><span data-bind="if: required" class="nsw-require-field">*</span></td>
                                <td>
						<span>
							<input type="file" class="form-group form-control" multiple="multiple" data-bind="attr: { 'id': 'fileUpload' + $index()}, event:{ change: $root.uploadFileChangeEvent.bind($data, maLoaiTep, $index(), $data) }">
						</span>
                                    <div data-bind="if: $root.groupFileIndexSelected() != undefined">
                                        <div data-bind="foreach: { data: $root.groupFileSelected()[$root.groupFileIndexSelected()]()[$index()], as: 'item' }">
                                            <p>
                                                <i>
                                                    <a data-bind="text: item.fiFileName, attr: { 'href':  item.link}" target="_blank"></a>
                                                    <span data-bind="if: (!$root.xemHoSo())">
										<a style="color: red; font-weight: bold;" href="javascript:;" data-bind="click: $root.delete.bind($data, item, $parentContext.$index())" title=''> <i class="fa fa-lg fa-remove tooltips"></i>	</a>
									</span>
                                                </i>
                                            </p>
                                        </div>
                                    </div>

                                </td>
                                <td align="center">
                                    <p data-bind="if: $root.groupFileIndexSelected() != undefined">
						<span data-bind="if: ($index() < $root.groupFileSelected()[$root.groupFileIndexSelected()]().length && $root.groupFileSelected()[$root.groupFileIndexSelected()]()[$index()]().length > 0 && !$root.xemHoSo())">
							<a style="color: red; font-weight: bold;" title=''  data-bind="click: $root.delete.bind($data, null, $index())">
								<i class="fa fa-lg fa-close tooltips" aria-hidden="true"></i>
						</a>
						</span>
                                    </p>
                                </td>
                            </tr>
                            <!-- /ko -->
                            </tbody>
                        </table>
                        <div class="alert alert-danger">
                            <strong data-bind="i18n: { 'html': 'TbdDinhKem04.ghiChu' }"></strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 form-group" align="center" >
                <button type="button" class="btn green" id="btGuiHoSo"
                        data-bind="click: guiHoSo">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <span data-bind="i18n: { 'html': 'ycXSGP' }"></span>
                </button>
            </div>
        </div>
    </div>


</form>
