<div id="myModal" class="modal" tabindex="-1" data-width="1100">
    <form id="form-themxe">
        <fieldset class="fieldset">
            <div class="form-horizontal">
                <div class="panel panel-default">
                    <div class="modal-header">
                        <span class="caption-subject bold uppercase">Thêm Xe</span>
                    </div>
                    <div class="panel-body">
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>bienso<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <select  id="fiBienSoXe" class="form-control select2 " data-bind="value: $root.phuongtien.fiBienso,
                                    optionsCaption: '...Chọn...',
                                    optionsValue : 'id',
                                    optionsText : 'name',
                                    options : $root.danhSachBKS,
                                    event: {change: getPhuongtienOnClick}" style="width: 200px;">
                                    </select>
                                </div>
                                <div class="col-md-2  label-text-right">
                                    <label>nhanhieu<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <select disabled="true"
                                            class="form-control select2" data-bind="options: $root.danhSachNhanHieu,
                                            optionsText: 'fiTenHieu',
                                            optionsValue: 'fiMaNhanhieu',
                                            valueAllowUnset: true,
                                            value: $root.phuongtien.fiDongphuongtien ,optionsCaption: '--Chọn nhãn hiệu--'">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>trongtai<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"  placeholder="Trọng tải" disabled="true" class="form-control" data-bind="value: $root.phuongtien.fiKhoihang">
                                </div>
                                <div class="col-md-2  label-text-right">
                                    <label>namsanxuat<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"  placeholder="Năm sản xuất" disabled="true" class="form-control" data-bind="value:$root.phuongtien.fiNamsanxuat">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>sokhung<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"  placeholder="Số khung"  disabled="true" class="form-control" data-bind="value:$root.phuongtien.fiSokhung">
                                </div>
                                <div class="col-md-2  label-text-right">
                                    <label>somay<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"  placeholder="Số máy" disabled="true" class="form-control" data-bind="value:$root.phuongtien.fiSomay">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>mausac<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text"  placeholder="Màu sắc" disabled="true" class="form-control" data-bind="value:$root.phuongtien.fiMausac">
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>tungay<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control form-control-inline date-picker"
                                           data-date-format="dd/mm/yyyy" size="16" type="text"
                                           data-bind="datepicker:$root.phuongtien.fiTungay"
                                           placeholder="dd/mm/yyyy"/>
                                </div>
                                <div class="col-md-2  label-text-right">
                                    <label>denngay<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control form-control-inline date-picker"
                                           data-date-format="dd/mm/yyyy" size="16" type="text"
                                           data-bind="datepicker:$root.phuongtien.fiDenngay"
                                           placeholder="dd/mm/yyyy"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top: 15px;">
                            <div class="col-md-12">
                                <div class="col-md-2  label-text-right">
                                    <label>hthoatdong<span class="nsw-require-field">*</span> </label>
                                </div>
                                <div class="col-md-4" >
                                    <select id="fihthd" class="form-control" data-bind="value: $root.phuongtien.fiHinhthucHoatdong, valueAllowUnset: true">
                                        <option value="1">Vận chuyển hàng hoá</option>
                                        <option value="2">Vận chuyển hành khách</option>
                                    </select>
                                </div>
                                <div class="col-md-2  label-text-right">
                                    <label>cuakhau<span class="nsw-require-field">*</span></label>
                                </div>
                                <div class="col-md-4" >
                                    <select id="fiCuaKhau" class="form-control select2" data-bind="options: $root.danhSachCuaKhau,
                                                                    optionsText: 'fiTenCuakhau',
                                                                    optionsValue: 'fiMaCuakhau',
                                                                    valueAllowUnset: true,
                                                                    value:$root.phuongtien.fiSocong ,optionsCaption: '--Chọn của khẩu đến--'">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn blue" data-bind="click: $root.luuXe">Lưu</button>
                        <button type="button" data-dismiss="modal" class="btn red">Thoát</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>