<style>
    .small-text span, .small-text b,.small-text label  {
        font-size: 13px !important;
    }
    .form-group {
        padding: 7px;
    }
</style>
<div class="row" id="form-popup">
    <div class="col-md-12">
        <form  id="TbdThietBi03">
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12"><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiMaISBN'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiMaISBN" class="form-control"  data-bind="value: tbdThietBi03.fiMaISBN, i18n: {  placeholder: { key: 'TbdThietBi03.fiMaISBN'}}">
                            </div>
                            <label class="col-md-12" ><i data-bind="i18n: {  html: { key: 'TbdThietBi03.note'}}"></i></label>
                        </div>
                    </div>

                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTenGoc'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiTenGoc" class="form-control"  data-bind="value: tbdThietBi03.fiTenGoc, i18n: {  placeholder: { key: 'TbdThietBi03.fiTenGoc'}}">
                            </div>
                            <label>&nbsp;</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12"><span  data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTenTiengViet'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiTenTiengViet" class="form-control"  data-bind="value: tbdThietBi03.fiTenTiengViet, i18n: {  placeholder: { key: 'TbdThietBi03.fiTenTiengViet'}}">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTenTacGia'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiTenTacGia" class="form-control"  data-bind="value: tbdThietBi03.fiTenTacGia, i18n: {  placeholder: { key: 'TbdThietBi03.fiTenTacGia'}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12"><span  data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTenNhaCC'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiTenNhaCC" class="form-control"  data-bind="value: tbdThietBi03.fiTenNhaCC, i18n: {  placeholder: { key: 'TbdThietBi03.fiTenNhaCC'}}">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTheLoai'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiTheLoai" class="form-control"  data-bind="value: tbdThietBi03.fiTheLoai, i18n: {  placeholder: { key: 'TbdThietBi03.fiTheLoai'}}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class='row'>
                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiPhamViSuDung'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiPhamViSuDung" class="form-control"  data-bind="value: tbdThietBi03.fiPhamViSuDung, i18n: {  placeholder: { key: 'TbdThietBi03.fiPhamViSuDung'}}">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-6 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiHinhThucKhac'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiHinhThucKhac" class="form-control"  data-bind="value: tbdThietBi03.fiHinhThucKhac, i18n: {  placeholder: { key: 'TbdThietBi03.fiHinhThucKhac'}}">
                            </div>
                            <label class="col-md-12" ><i data-bind="i18n: {  html: { key: 'TbdThietBi03.note'}}"></i></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-12 form-group'>
                <div class='row'>
                    <div class='col-md-3'>
                        <div class='row'>
                            <label class="col-md-12"><span  data-bind="i18n: {  html: { key: 'TbdThietBi03.fiSoBan'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiSoBan" class="form-control"  data-bind="value: tbdThietBi03.fiSoBan, i18n: {  placeholder: { key: 'TbdThietBi03.fiSoBan'}}, numberFormatDecimalInput: function(){return '15.0';}">
                            </div>
                        </div>
                    </div>
                    <div class='col-md-3 '>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiSoLuongDia'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiSoLuongDia" class="form-control"  data-bind="value: tbdThietBi03.fiSoLuongDia, i18n: {  placeholder: { key: 'TbdThietBi03.fiSoLuongDia'}}, numberFormatDecimalInput: function(){return '15.0';}">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-3 '>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiSoLuongBang'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiSoLuongBang" class="form-control"  data-bind="value: tbdThietBi03.fiSoLuongBang, i18n: {  placeholder: { key: 'TbdThietBi03.fiSoLuongBang'}}, numberFormatDecimalInput: function(){return '15.0';}">
                            </div>
                        </div>
                    </div>

                    <div class='col-md-3 '>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiSoLuongCatset'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <input id="TbdThietBi03_fiSoLuongCatset" class="form-control"  data-bind="value: tbdThietBi03.fiSoLuongCatset, i18n: {  placeholder: { key: 'TbdThietBi03.fiSoLuongCatset'}}, numberFormatDecimalInput: function(){return '15.0';}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-12'>
                <div class='row'>

                    <div class='col-md-12 form-group'>
                        <div class='row'>
                            <label class="col-md-12" ><span data-bind="i18n: {  html: { key: 'TbdThietBi03.fiTomTat'}}"></span><span class="nsw-require-field">*</span></label>
                            <div class="col-md-12">
                                <textarea id="TbdThietBi03_fiTomTat" rows="2" class="form-control"  data-bind="value: tbdThietBi03.fiTomTat, i18n: {  placeholder: { key: 'TbdThietBi03.fiTomTat'}}"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <a title="{{ _lang 'common_button_luu' }}" style="float: right;  margin: 15px auto;" class="btn btn-primary" data-bind="click: $root.save"><i class="fa fa-save"></i>&nbsp;{{ _lang 'common_button_luu' }}</a>
                </div>
                <div class="col-md-6">
                    <a title="{{ _lang 'common_button_dong' }}" style="float: left; margin: 15px auto;display: block;" class="btn btn-default" data-bind="click: $root.close"><i class="fa fa-close"></i>&nbsp;{{ _lang 'common_button_dong' }}</a>
                </div>
            </div>
        </form>
    </div>
</div>
