{{#data}}
<p class="nsw-text-center">
    <b>{{_lang "most_01_gcn_popup"}}</b>
</p>
<br />
<p><a target="_blank" href="{{context}}/most/01/kqdg/{{fiIdCqxl}}/{{fiFileCode}}" class="btn blue" id="btnDownload"><i class="fa fa-download" ></i></a></p>
<br />
<br />
<p>01. {{_lang "most_01_gcn_nguoinhapkhau"}} {{tbdhoso.fiNguoiNk}}</p>
<p>02. {{_lang "most_01_gcn_diachi"}} {{tbdhoso.fiDiachiNnk}}</p>
<p>03. {{_lang "most_01_gcn_danhsachhanghoa"}} </p>
<table class="table table-striped table-bordered table-hover table-checkable order-column">
    <thead>
        <tr>
            <th>{{_lang "common_table_col_stt"}}</th>
            <th>{{_lang "most_01_hanghoa_tenhanghoa"}}</th>
            <th>{{_lang "most_01_hanghoa_kyhieu_kieuloai"}}</th>
            <th>{{_lang "most_01_hanghoa_nhanhieu"}}</th>
            <th>{{_lang "most_01_hanghoa_nuocxuatxu"}}</th>
            <th>{{_lang "most_01_hanghoa_soluong_khoiluong"}}</th>
            <th>{{_lang "most_01_hanghoa_donvitinh"}}</th>
            <th>{{_lang "most_01_hanghoa_thongsokythuat"}}</th>
            <th>{{_lang "most_01_hanghoa_maHS"}}</th>
            <th>{{_lang "most_01_hanghoa_ghichu"}}</th>
            <th>{{_lang "most_01_gcn_phuongthucnhan"}}</th>
            <th>{{_lang "most_01_hanghoa_ketquakiemtra"}}</th>

        </tr>
    </thead>
    <tbody>
        {{#each tbdhoso.hangHoa1}}
        <tr class="odd gradeX">
            <td class="nsw-text-center"> 
                {{inc @index}}
            </td>                
            <td>
                {{fiTenHh}}
            </td>
            <td>
                {{fiKyhieu}}
            </td>
            <td>
                {{fiNhanHh}}
            </td>
            <td>
                {{fiTenQg}}
            </td>
            <td>
                {{fiKlSl}}
            </td>
            <td>
                {{fiTenDv}}
            </td>
            <td>
                {{fiThongsoKt}}
            </td>
            <td>
                {{fiMaHs}}
            </td>
            <td>
                {{fiGhiChu}}
            </td>
            <td>
                {{fiPtchungnhan}}
            </td>
            <td>
                {{showStatus fiKqdanhgia}}
            </td>                
        </tr>
        {{/each}}
    </tbody>
</table>
<p>04. {{_lang "most_01_gcn_thongtinlienquan"}} </p>
<p>- {{_lang "most_01_gcn_danhsachtokhai"}}</p>
<table class="table table-striped table-bordered table-hover table-checkable order-column">
    <thead>
        <tr>
            <th><b>{{_lang "common_table_col_stt"}}</b></th>
            <th><b>{{_lang "most_01_tokhai_hanghoa_nhapkhau_so"}}</b></th>
            <th><b>{{_lang "most_01_tokhai_ngay_dang_ky"}}</b></th>
            <th><b>{{_lang "most_01_tokhai_ma_hai_quan"}}</b></th>
        </tr>
    </thead>
    <tbody>
        {{#each tbdhoso.toKhaiHQ}}
        <tr class="odd gradeX">
            <td class="nsw-text-center"> 
                {{inc @index}}
            </td>
            <td> 
                {{fiSoTk}}
            </td>
            <td>
                {{convertToDateFromTimeStamp fiNgayDk false}}
            </td>
            <td>
                {{fiMaHq}}
            </td>            
        </tr>
        {{/each}}
    </tbody>
</table>
<p>- {{_lang "most_01_gcn_hopdong"}} {{showAttachments tbdhoso.tepDinhKem 1}}</p>
<p>- {{_lang "most_01_gcn_vandon"}} {{showAttachments tbdhoso.tepDinhKem 2}}</p>
<p>- {{_lang "most_01_gcn_danhmuchanghoa"}} {{showAttachments tbdhoso.tepDinhKem 3}}</p>
<p>05. {{_lang "most_01_gcn_quychuankythuat"}} {{tbdhoso.fiTenQcvn}}</p>
<p>06. {{_lang "most_01_gcn_sogiaychungnhan"}} {{fiSoGcn}}</p>
<p>07. {{_lang "most_01_gcn_hieuluc"}} {{convertToDateFromTimeStamp fiNgayHlTu false}} - {{convertToDateFromTimeStamp fiNgayHlToi false}}</p>
<p>08. {{_lang "most_01_gcn_ngaycap"}} {{convertToDateFromTimeStamp fiNgayGcn false}}</p>
<p>09. {{_lang "most_01_gcn_tochucchungnhan"}} {{tbdhoso.fiTenTcdg}}</p>
<br />
<br />
<table>
    <tr>
        <td class="w50pc"></td>
        <td class="w50pc nsw-text-center">
            <p>{{convertToDateFromTimeStamp fiNgayGcn false}}</p>
            <p><b>{{_lang "most_01_gcn_daidien"}}</b></p>
            <p>{{fiNguoiKy}}</p>
        </td>
    </tr>
</table>
{{/data}}



