<p>{{_lang "common_history_mahoso"}} </p>
<p>{{_lang "common_pager_ban_ghi"}}</p>
<table class="table table-striped table-bordered table-hover table-checkable order-column">
    <thead>
        <tr>
            <th><b>{{_lang "common_history_stt"}}</b></th>
            <th><b>{{_lang "common_history_thoigian"}}</b></th>
            <th><b>{{_lang "nguoithaydoi"}}</b></th>
            <th><b>{{_lang "common_history_noidung"}}</b></th>
            <th><b>{{_lang "common_history_trangthaihoso"}}</b></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>