<form role="form" class="form-horizontal" name="editForm01" id="editForm01">
    <div class="form-group">
        <div class="col-md-12">
            <div class="col-md-2">
                <label>{{_lang "common_msg_ly_do"}}</label>
                <a class="nsw-require-field">*</a>
            </div>
            <div class="col-md-10">
                <textarea class="form-control" require="true" name="fiContent" field="common_msg_ly_do" style="width: 100%; height: 170px;" maxlength="250"></textarea>
            </div>
        </div>
    </div>   
</form>