<style>
    .a4 {
        width: 100%;
        display: block;
        border: 2px solid;
        margin: 20px auto;
        padding: 30px 20px;
        float: left;
    }

    .h4 {
        font-weight: bold;
        padding: 0 50px;
        font-size: 15px;
        text-align: center;
        float: left;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 0;
    }

    .h5 {
        font-weight: bold;
        padding: 0 50px;
        font-size: 13px;
        text-align: center;
    }

    .hr {
        border-color: #000;
        width: 30%;
        margin: auto;
        margin-bottom: 20px;
    }

    .text-i {
        width: 45px;
        margin-left: 10px;
    }

    .w100 {
        width: 100%;
    }

    .a4 .form-control {
        margin-bottom: 7px;
    }

    .p0 {
        padding-left: 0;
        padding-right: 0;
    }

    .p50 {
        padding-left: 50px;
        font-weight: bold;
        font-size: 13px;
        font-style: italic;
    }

    .inputrow {
        text-decoration-line: underline;
        text-decoration-style: dotted;
        display: block;
        float: left;
        font-weight: bold;
    }

    .fl {
        float: left;
    }

    .w50 {
        min-width: 50px;
    }

    .inputrow-block-c {
        text-align: center;
        display: block;
        margin-right: 15px;
        margin-left: 15px;
        white-space: nowrap;
    }

    .btrow {
        width: 650px;
        display: block;
        margin: auto;
    }

    .btwidth {
        width: 200px;
        display: block;
        float: left;
        margin-right: 15px;
    }
</style>
{{#data}}
<form id="form" class="form-xuat-bieu-mau-popup">
    <div class="a4">
        <h4 class="h4" style="padding-top: 10px;">ĐƠN ĐỀ NGHỊ </h4>
        <div class="col-md-12">
            <div class="row">
                <p align="center" style="padding-bottom: 20px;">
                    <span><b>CẤP GIẤY PHÉP NHẬP KHẨU THUỐC BẢO VỆ THỰC VẬT</b></span>
                    </br><span><b>Số:&nbsp;<span data-bind="text: $root.formData.hoSo.fiApplicationNo"></span></b></span>
                    </br><span><b>Kính gửi:&nbsp; Cục Bảo vệ thực vật</b></span>

                </p>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <span class="fl">Tên tổ chức, cá nhân:&nbsp;</span>
                <b data-bind="text: $root.formData.hoSo.fiNameOfRegistration"></b>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <span class="fl">Địa chỉ: &nbsp;</span>
                <b data-bind="text: $root.formData.hoSo.fiAddressOfRegistration"></b>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <span class="fl">Số điện thoại: &nbsp;</span>
                        <b data-bind="text: $root.formData.hoSo.fiPhone"></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <span class="fl">Fax: &nbsp;</span>
                        <b data-bind="text: $root.formData.hoSo.fiFax"></b>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <span class="fl">Email: &nbsp;</span>
                        <b data-bind="text: $root.formData.hoSo.fiEmail"></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <p>Đề nghị Cục Bảo vệ thực vật cấp Giấy phép nhập khẩu thuốc bảo vệ thực vật cho chúng tôi
                    như sau:</p>
            </div>
        </div>

        <div class="col-md-12">

            <div class="row table-responsive">
                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                    <thead class="nsw-tr tr-nsw1-bgcolor">
                    <th class="text-center" width="5%">STT</th>
                    <th class="text-center" width="15%">Loại thuốc bảo vệ thực vật</th>
                    <th class="text-center" width="20%">Tên thuốc bảo vệ thực vật</spring:message></th>
                    <th class="text-center" width="10%">Khối lượng</th>
                    <th class="text-center" width="10%">Tên đơn vị tính khối lượng</spring:message></th>
                    <th class="text-center" width="20%">Công dụng thuốc</th>
                    <th class="text-center" width="10%">Xuất xứ</th>

                    </thead>
                    <tbody>
                    <!-- ko foreach: $root.formData.thuocs -->
                    <tr>
                        <td data-bind="text: $index() + 1"></td>
                        <td data-bind="text: fiTypeGood"></td>
                        <td data-bind="text: fiNameOfGoods"></td>
                        <td data-bind="text: fiWeight"></td>
                        <td data-bind="text: fiWeightUnitName"></td>
                        <td data-bind="text: fiMainUse"></td>
                        <td data-bind="text: fiOrigin"></td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>

            </div>
        </div>
        <p class="heading">Mục đích nhập khẩu:</p>
        <div class="col-md-12">
            <div class="">
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="row form-group" style="padding:  0 30px;">
                            <!-- ko foreach: $root.formData.danhMucMucDichs -->
                            <div class="col-md-12 row">
                               <span class="lbl">
                                    <input disabled="disabled" type="checkbox"
                                           data-bind="checked: $root.formData.hoSo.fiPurposes.toString().split(';').includes(fiCode)"/>
                                   <!-- ko if: fiNameEN == null -->
                                        <label data-bind="text: fiName "></label>
                                   <!-- /ko -->
                                   <!-- ko if: fiNameEN != null -->
                                        <label data-bind="text: fiName + ' (' + fiNameEN + ')' "></label>
                                   <!-- /ko -->
                               </span>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>


{{/data}}
