{{#data}}
<fieldset class="fieldset">
		<div id="thongBaoThuPhi" >
		
			<div class="row" style="margin-top: 8px;">
				<div class="col-md-4" style="text-align: right;">{{_lang "monre_01_xem_thong_bao_thu_phi_le_phi"}}</div>
				<div class="col-md-8" ><b>{{strLePhi}}</b></div>
			</div>
			
			<div class="row" style="margin-top: 8px;">
				<div class="col-md-4" style="text-align: right;">{{_lang "monre_01_xem_thong_bao_thu_phi_noi_dung"}}</div>
				<div class="col-md-8" ><b>{{noiDung}}</b></div>
			</div>
			
			<div class="row" style="margin-top: 8px;">
				<div class="col-md-4" style="text-align: right;">{{_lang "monre_01_xem_thong_bao_thu_phi_link"}}</div>
				<div class="col-md-8" >
					<a href="{{link}}" target="_blank"><b><i >{{link}}</i></b> </a>
				</div>
			</div>
			
		</div>
		
	</fieldset>
{{/data}}